<div id="create-product">
  <h4>Add Product</h4>
  <hr>

  <label>Product Name: </label>
  <input [(ngModel)]="productName"> <br>
  <label>Product Code: </label>
  <input [(ngModel)]="productCode"> <br>
  <label>Release Date: </label>
  <input [(ngModel)]="releaseDate"> <br>
  <label>Description: </label>
  <input [(ngModel)]="description"> <br>
  <label>Price: </label>
  <input [(ngModel)]="price"> <br>
  <label>Star Rating: </label>
  <input [(ngModel)]="starRating"> <br>
  <label>Image Url: </label>
  <input [(ngModel)]="imageUrl"> <br>
  <button (click)="addMember()">Add Product</button>
</div>
